@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uploaded PDFs</h2>

<div class="pdf-list">
    @foreach (var file in Model)
    {
        <div class="pdf-item">
            <img src="~/images/pdf-icon.png" alt="PDF" width="50" />
            <p>@file</p>
            <a href="~/uploads/@file" target="_blank">View</a>
        </div>
    }
</div>
