@model List<Scanx_mvc.Models.PdfFile>

@{
    ViewData["Title"] = "Uploaded PDFs";
}



<!-- PDF List -->
<div class="pdf-list">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var pdf in Model)
        {
            <div class="pdf-item">
                <img src="https://img.icons8.com/ios-filled/50/000000/pdf.png" alt="PDF Icon">
                <h5>@pdf.FileName</h5>
                <a href="@pdf.FilePath" target="_blank" class="btn btn-outline-primary">View PDF</a>
            </div>
        }
    }
    else
    {
        <p>No PDFs uploaded yet.</p>
    }
</div>
